body {
  margin: 0; }

a {
  text-decoration: none; }

.shelfieWrap {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  min-width: 655px; }

.header {
  width: 100%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #AB2A19; }

.headerContent {
  width: auto;
  height: auto;
  position: relative;
  left: -165px; }

.shelfieLogo {
  position: relative;
  top: 13px;
  margin-right: 10px;
  width: 50px; }

.shelfieSpan {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 30px; }

.shelves {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px; }

.links {
  width: 500px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  color: white;
  background-color: #D34735;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.shelfSpan {
  position: relative;
  left: -110px; }

.logoContainer {
  width: 20%;
  height: 100%;
  -ms-flex-pack: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AB2A19; }
  .logoContainer .binsLogo {
    width: 50px; }

.binsContent {
  width: 100%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  min-width: 681px;
  background-color: #D34735;
  font: "Open Sans", sans-serif;
  color: White; }

.binsSpanContainer {
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .binsSpanContainer .binsSpan {
    font-size: 30px;
    margin-left: 20px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

.empty {
  background-color: #FFB8AF; }
  .empty .shelfSpan {
    left: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 30px; }

.binsPage .logoContainer {
  width: 10%;
  min-width: 120px; }
.binsPage .binsSpanContainer {
  padding-left: 20px;
  width: 20%;
  min-width: 146px; }
  .binsPage .binsSpanContainer a {
    color: #FFF; }
.binsPage .binsSpan {
  margin-left: 0; }
.binsPage .second {
  background-color: #ED6B5A;
  width: 100%; }

.createWrap {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: calc(100% - 100px);
  padding: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  .createWrap span {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 3px;
    position: relative;
    left: -200px;
    font-size: 30px; }
  .createWrap input {
    font-family: "Open Sans", sans-serif;
    border: 1px solid #AB2A19;
    border-radius: 3px;
    padding: 12px;
    min-width: 500px;
    width: auto;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px; }
  .createWrap button {
    font-family: "Open Sans", sans-serif;
    height: auto;
    font-size: 30px;
    border: none;
    width: 526px;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    background-color: #40F99B; }

/*# sourceMappingURL=index.css.map */
